*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: 'poppins';
}

.parent-div{
   height: 23em;
   width: 23em;
  background-color: #4d4949; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  overflow: hidden;
  border-radius: 2em;
  padding: 1em;
  cursor: pointer;
}

.child{
  height: 10em;
  width: 10em;
  border-radius: 2em;
  padding: 0.5em;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 2px 0px #ffff;
}

.child1{
  background-color: red;
}
.child1:hover{
 background-color: rgb(189, 31, 31);
 color: #ffff;
}
.child2:hover{
  background-color: rgba(143, 211, 40, 0.651);
 color: #ffff;



}
.child3:hover{
  background-color: #4949d1a2;
  color: #ffff;


}

.child4:hover{
  background-color: #ffa60088;
  color: #ffff;


}
.child2{
  background-color: #adff2f;
}
.child3{
  background-color: #0000ff;
}
.child4{
  background-color: #ffa500;
}