*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card{
  height: 27em;
  width: 19em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5D5390;
  border-radius: 1em;
  cursor: pointer;
  transition:.6s;
  transform: rotatex(70deg) translatey(-200px) translatez(-100px);
  box-shadow: #000000cc 10px 20px 0px 1px; 
}

.card:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition:.6s;
  box-shadow: 5px 6px 0px #000;
  height: 28em;
  width: 20em;
}
.image-div{
   height: 10em;
   width: 10em;
   object-fit: cover;
   border-radius: 50%;
   overflow: hidden;
   object-position: top;
   margin-bottom: 1em;
}

.image-div img{
  height: 100%;
  width: 100%;
}


.text-part{
  font-family: 'poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: #fff;
}

.text-part h2{
  font-weight: 300;
}

.text-part p{
  font-size: 1em;  
  text-align: center;
  padding: 0 1.4em;
  font-weight: 100;
  font-style: italic;
}
